.ant-select-dropdown {
  background-color: #171717 !important;
}

.custom-autocomplete .ant-select-selector {
  background-color: rgb(0, 0, 0, 0.13) !important;
}

.custom-autocomplete .ant-select-prefix {
  padding-right: 13px;
}
